.footer-area{
    background: #000000 !important;
    position: relative !important;
    display: flex !important;
    flex-direction:column !important;
    justify-content: center !important;
    align-items: center !important;
    height:50vh;
  }
  
  .footer-subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #FFFAFA!important;
    font-size: 1rem;
    padding: 24px;
    padding: 24px;
  }
  
  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-input {
    padding: 3px 10px;
    border-radius:2px;
    margin-right:10px;
    outline:none;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #FFFAFA;
    color:black;
    font-weight: bold;
  }
  
  .footer-links{
    width: 100%;
    display: flex;
    justify-content:center;
    max-width: 1000px;
   
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items a{
    text-decoration: none !important;
    display: inline-block !important;
    padding-right: 10px;
    color: #FFFAFA !important;
     flex-direction: column;
  }
  
  .social-media-wrap a{
    display:inline-block;
    justify-content:center;
    align-items: center;
    padding-right: 10px;
    color:white !important;
  }
  
  .website-rights{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  .website-rights :hover{
    background-color: #05364d !important;
  
  }